

body{
    margin:0;
    padding:0;
}

.navbarButton{
    height: 100%;
}

.top{
    background-color: coral;
    height: 30px;
    display:flex;
}

.top > ul{
    margin: auto;
}

.wrapper {
    display: flex;
}

.wrapper > div {
}

#context {
    width: 15%;
    background-color: orange;
    border-color: brown;
    border-radius: 2px;
    border-style: solid;

}

#contextInner{
    margin-top: 10%;
    margin-left: 10%;
}