

.centerNavbar{
    position: absolute; 
    top:50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size:xx-large;
    
}

.cornerNavbar{
    position:absolute;
    right: 2%;
    top:50%;
    transform: translate(0%, -50%); 

}

body{
    margin:0;
    padding:0;
}

.navbarButton{
    height: 100%;
}

.top{
    position: relative;
    background-color: coral;
    height: 30px;
    display:flex;
}


.wrapper {
    display: flex;
}

.wrapper > div {
}

#context {
    width: 15%;
    background-color: orange;
    border-color: brown;
    border-radius: 2px;
    border-style: solid;

}

#contextInner{
    margin-top: 10%;
    margin-left: 10%;
}